<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/default_skeleton :: head">
</head>
<body>
<header th:include="fragments/default_skeleton :: header" />
<main class="container">
    <h1 th:text="'Delete author: ' + ${author.name}" />
    <p th:text="'Are you sure you want delete the author with id ' + ${author.id}" />
    <form method="post">
        <button type="submit" class="btn btn-danger">Remove author</button>
        <a th:href="@{/authors}" class="btn btn-secondary">Cancel</a>
    </form>
</main>
<div th:include="fragments/default_skeleton :: scripts" />
</body>
</html>